<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to RESTfull API</h1>
    <div>
        <% for(let i of comments){ %>
            <p><strong><%= i.name %>:</strong> <%= i.comment %></p>
        <% } %>
    </div>
</body>
</html>